<template>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">New User</div>
          <div class="card-body">
            <form action="#" method="post" @submit.prevent="store">
              <div class="form-group">
                <label for="name">Nama</label>
                <input
                  type="text"
                  v-model="form.name"
                  id="name"
                  class="form-control"
                />
                <div v-if="theErrors.name" class="mt-2 text-danger">
                  {{ theErrors.name[0] }}
                </div>
              </div>

              <div class="form-group">
                <label for="email">Email</label>
                <input
                  type="text"
                  v-model="form.email"
                  id="email"
                  class="form-control"
                />
                <div v-if="theErrors.email" class="mt-2 text-danger">
                  {{ theErrors.email[0] }}
                </div>
              </div>

              <div class="form-group">
                <label for="phone_number">No Hp</label>
                <input
                  type="text"
                  v-model="form.phone_number"
                  id="phone_number"
                  class="form-control"
                />
                <div v-if="theErrors.phone_number" class="mt-2 text-danger">
                  {{ theErrors.phone_number[0] }}
                </div>
              </div>

              <div class="form-group">
                <label for="password">Password</label>
                <input
                  type="password"
                  v-model="form.password"
                  id="password"
                  class="form-control"
                />
                <div v-if="theErrors.password" class="mt-2 text-danger">
                  {{ theErrors.password[0] }}
                </div>
              </div>

              <button type="submit" class="btn btn-primary">Simpan</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        name: "",
        email: "",
        phone_number: "",
        password: "",
      },
      users: [],
      theErrors: [],
    };
  },

  mounted() {
    this.getUsers();
  },

  methods: {
    async getUsers() {
      let response = await axios.get("/api/users");

      if (response.status === 200) {
        this.users = response.data.data;
      }
    },

    async store() {
      try {
        let response = await axios.post("/api/users", this.form);

        if (response.status == 200) {
          this.form.name = "";
          this.form.email = "";
          this.form.phone_number = "";
          this.form.password = "";
          this.theErrors = [];

          this.$toasted.show("Data User berhasil diinput", {
            type: "success",
            duration: 3000,
          });

          this.$router.push("/user");
        }
      } catch (e) {
        this.theErrors = e.response.data.errors;

        this.$toasted.show("Ada sesuatu yang salah", {
          type: "errors",
          duration: 3000,
        });
      }
    },
  },
};
</script>

<style>
</style>