<template>
  <div class="div container">
    <h3>Data User</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Nama</th>
          <th>Email</th>
          <th>No Hp</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="user in users">
          <td>
            <router-link :to="{ name: 'user.show', params: { id: user.id } }">{{
              user.name
            }}</router-link>
          </td>
          <td>{{ user.email }}</td>
          <td>{{ user.phone_number }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  data() {
    return {
      users: [],
    };
  },

  mounted() {
    axios.get("/api/users").then((response) => {
      this.users = response.data.data;
    });
  },
};
</script>