<template>
  <div class="container">
    <h1>{{ user.name }}</h1>
    <div class="div mb-5">
      <h2>Email : {{ user.email }}</h2>
      <h2>No Hp : {{ user.phone_number }}</h2>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      user: [],
    };
  },

  mounted() {
    this.getUser();
  },

  methods: {
    async getUser() {
      let response = await axios.get("/api/users/" + this.$route.params.id);

      this.user = response.data.data;
    },
  },
};
</script>