<template>

    <table class="table" id="table-buku">
        <thead>
            <tr>
                <th>order From</th>

            </tr>
        </thead>
        <tbody>
            <tr  v-for="item_order in item_orders" :key="item_order.id">
            <td>{{item_order.id}}</td>
            </tr>
        </tbody>
        
    </table>



</template>

<script>
export default {

    data(){
        return{
            item_orders:[],
        }
        

    },

    mounted(){
     
            axios.get("/api/orderProduct").then(response=>{
            // console.log(response)

            this.item_orders=response.data;

            });

        
    },
  
        
    




};
</script>

<style>

</style>