<template>
  <div class="div container">
    <h3>Data Produk</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Nama</th>
          <th>Harga</th>
          <th>Deskripsi</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="product in products">
          <td>
            <router-link
              :to="{ name: 'product.show', params: { id: product.id } }"
              >{{ product.name }}</router-link
            >
          </td>
          <td>{{ product.price }}</td>
          <td>{{ product.description }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  data() {
    return {
      products: [],
    };
  },

  mounted() {
    axios.get("/api/products").then((response) => {
      this.products = response.data.data;
    });
  },
};
</script>